.ProjectCard {
    width: 18rem !important;
    height: fit-content;
    border: 1px solid #a7b5b9;
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
    background-color: #fff;
}
.btn{
    color: #fff;
    background-color:  #a7b5b9;
    
}
.btn:hover{
    background-color: #dbd3d8;
    color: #fff;
}
.ProjectCard:hover{
    box-shadow: 2px 2px 2px #a7b5b9;
    transition: 0.1s ease-in-out ;
    
}
.preview{
    padding: 10px;
}