.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  
  .wrapper {
    position: relative;
    width: 500px;
    background: #DBD3D8;
    border-radius: 10px;
    color: black;
    display: flex;
  }
  
  .form-box {
    margin-top: 10px;
    width: 100%;
    height: 100%;
  }
  
  h1 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 20px;
  }
  
  .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0; 
    border-color: black;
    background: white;
    border-radius: 40px; /* Set border radius */
  }
  
  .input-box input,
  .input-box select {
    width: 100%;
    height: 100%;
    background: white; /* Set background color to white */
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .1);
    border-radius: 40px; /* Set border radius */
    font-size: 16px;
    padding: 0 20px; /* Adjust padding */
  }
  
  .input-box input::placeholder,
  .input-box select::placeholder {
    color: black;
  }
  
  .input-box .icon {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translate(0, -50%);
    font-size: 16px;
  }
  
  form button {
    width: 100%;
    height: 45px;
    background: #93A7AA;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 700;
    margin-top: 20px; /* Add margin top for spacing */
  }
  
  .btn-secondary.go-back {
    width: 100%;
    height: 45px;
    background: #666;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    font-weight: 700;
    margin-top: 40px; /* Add margin top for spacing */
  }
  
  .image-box {
    flex: 1;
    padding: 20px;
    border-radius: 10px;
    background: #DBD3D8;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .image-box h2 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .image-box img {
    display: block;
    max-width: 100%;
    margin-bottom: 10px;
    border-radius: 10px;
  }
  