.navbar {
    background-color: #EBE0C0; /* Adjust background color */
    color: black; /* Adjust text color */
    padding: 1rem 2rem; /* Adjust padding */
    display: flex;
    justify-content: space-between; /* Align items horizontally */
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    z-index: 1000;

    text-align: right;
        
}

.container {

    display: flex;
    align-items: right; /* Align brand name and links vertically */
}

.brand-name {
  
font-size: 30;  
  text-decoration: oblique; /* Remove underline from anchor tag */
    color: inherit; /* Inherit text color from navbar */

    margin-right: 63rem;
}

.nav-links {
   
    text-align: right;
    list-style: none; /* Remove default bullet points */
 /* Remove default margin */
  /* Remove default padding */
}

.nav-links li {
    text-align: right;

    display: inline-block; 
    margin-right: 2rem; /* Add some margin between links */
    /* Display links horizontally */
}

.nav-links a {
    text-decoration: none; /* Remove underline from anchor tags */
    color: inherit; /* Inherit text color from navbar */
}


